@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --theme-white: 255 255 255;
        --theme-black: 0 0 0;
        --theme-primary: 210 245 255;
    }

    :root.dark {
        --theme-white: 0 0 0;
        --theme-black: 255 255 255;
        --theme-primary: 34 102 255;
    }
}

body {
    font-family: var(--font-pretendard), sans-serif;
}

.markdown h1:first-child {
    visibility: hidden;
    display: none;
}

.markdown h1 {
    font-size: 18px;
    margin: 10px;
}

.markdown p {
    font-size: 16px;
    line-height: 1.5;
}
.markdown ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}
.markdown code {
    font-size: 12px;
}

.respone-code {
    width: 90%;
    margin: 0 auto;
}

.respone-quote {
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .respone-code {
        width: 80%;
    }
    .respone-quote {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .respone-code {
        width: 80%;
    }
    .respone-quote {
        width: 80%;
    }
}
