@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --theme-white: 255 255 255;
        --theme-black: 0 0 0;
        --theme-primary: 210 245 255;
    }

    :root.dark {
        --theme-white: 0 0 0;
        --theme-black: 255 255 255;
        --theme-primary: 34 102 255;
    }
}

body {
    font-family: var(--font-pretendard), sans-serif;
}

.markdown {
    line-height: 50px;
}

.markdown h1,
.markdown h2,
.markdown h3 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.markdown h1:first-child {
    visibility: hidden;
    display: none;
}

.markdown h1 {
    font-size: 30px;
    margin-top: 2rem;
}

/* h2 스타일 */
.markdown h2 {
    font-size: 23px;
    margin-top: 1.5rem;
}

/* h3 스타일 */
.markdown h3 {
    font-size: 18px;
    margin-top: 1rem;
}

.markdown p {
    font-size: 16px;
    line-height: 1.5;
}
.markdown ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}
.markdown code {
    font-size: 12px;
}

.respone-code {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
}

.respone-code-line {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.respone-quote {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    /* .respone-code {
        width: 80%;
    } */
    .respone-quote {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .respone-code {
        font-size: 10px;
    }
    .respone-quote {
        width: 80%;
    }
}
